Entregables/EnchulameCliente/src/META-INF/wsdl/DESKTOP-QGM1P88_20844/enchulameServer/UsuarioService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:tns="http://ws.enchulame.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.enchulame.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.enchulame.com/" schemaLocation="http://DESKTOP-QGM1P88:20844/enchulameServer/UsuarioService?xsd=1"/>
</xsd:schema>
</types>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<message name="editarUsuario">
<part name="parameters" element="tns:editarUsuario"/>
</message>
<message name="editarUsuarioResponse">
<part name="parameters" element="tns:editarUsuarioResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="buscarArticulo">
<part name="parameters" element="tns:buscarArticulo"/>
</message>
<message name="buscarArticuloResponse">
<part name="parameters" element="tns:buscarArticuloResponse"/>
</message>
<portType name="UsuarioWS">
<operation name="crearUsuario">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://ws.enchulame.com/UsuarioWS/crearUsuarioRequest" message="tns:crearUsuario"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://ws.enchulame.com/UsuarioWS/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
</operation>
<operation name="editarUsuario">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://ws.enchulame.com/UsuarioWS/editarUsuarioRequest" message="tns:editarUsuario"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ws.enchulame.com/UsuarioWS/editarUsuarioResponse" message="tns:editarUsuarioResponse"/>
</operation>
<operation name="eliminarUsuario">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws.enchulame.com/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.enchulame.com/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="iniciarSesion">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.enchulame.com/UsuarioWS/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.enchulame.com/UsuarioWS/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="buscarArticulo">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.enchulame.com/UsuarioWS/buscarArticuloRequest" message="tns:buscarArticulo"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.enchulame.com/UsuarioWS/buscarArticuloResponse" message="tns:buscarArticuloResponse"/>
</operation>
</portType>
</definitions>