Entregables/EnchulameCliente/src/META-INF/AutorService.wsdl_1.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:tns="http://ws.enchulame.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.enchulame.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.enchulame.com/" schemaLocation="http://localhost:20844/enchulameServer/AutorService?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarArticulo">
<part name="parameters" element="tns:buscarArticulo"/>
</message>
<message name="buscarArticuloResponse">
<part name="parameters" element="tns:buscarArticuloResponse"/>
</message>
<message name="anadirAutor">
<part name="parameters" element="tns:anadirAutor"/>
</message>
<message name="anadirAutorResponse">
<part name="parameters" element="tns:anadirAutorResponse"/>
</message>
<message name="crearAutor">
<part name="parameters" element="tns:crearAutor"/>
</message>
<message name="crearAutorResponse">
<part name="parameters" element="tns:crearAutorResponse"/>
</message>
<message name="crearArticulo">
<part name="parameters" element="tns:crearArticulo"/>
</message>
<message name="crearArticuloResponse">
<part name="parameters" element="tns:crearArticuloResponse"/>
</message>
<message name="editarArticulo">
<part name="parameters" element="tns:editarArticulo"/>
</message>
<message name="editarArticuloResponse">
<part name="parameters" element="tns:editarArticuloResponse"/>
</message>
<message name="eliminarArticulo">
<part name="parameters" element="tns:eliminarArticulo"/>
</message>
<message name="eliminarArticuloResponse">
<part name="parameters" element="tns:eliminarArticuloResponse"/>
</message>
<message name="enviarCopyright">
<part name="parameters" element="tns:enviarCopyright"/>
</message>
<message name="enviarCopyrightResponse">
<part name="parameters" element="tns:enviarCopyrightResponse"/>
</message>
<portType name="AutorWS">
<operation name="buscarArticulo">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://ws.enchulame.com/AutorWS/buscarArticuloRequest" message="tns:buscarArticulo"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://ws.enchulame.com/AutorWS/buscarArticuloResponse" message="tns:buscarArticuloResponse"/>
</operation>
<operation name="anadirAutor">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://ws.enchulame.com/AutorWS/anadirAutorRequest" message="tns:anadirAutor"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ws.enchulame.com/AutorWS/anadirAutorResponse" message="tns:anadirAutorResponse"/>
</operation>
<operation name="crearAutor">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws.enchulame.com/AutorWS/crearAutorRequest" message="tns:crearAutor"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.enchulame.com/AutorWS/crearAutorResponse" message="tns:crearAutorResponse"/>
</operation>
<operation name="crearArticulo">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.enchulame.com/AutorWS/crearArticuloRequest" message="tns:crearArticulo"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.enchulame.com/AutorWS/crearArticuloResponse" message="tns:crearArticuloResponse"/>
</operation>
<operation name="editarArticulo">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.enchulame.com/AutorWS/editarArticuloRequest" message="tns:editarArticulo"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.enchulame.com/AutorWS/editarArticuloResponse" message="tns:editarArticuloResponse"/>
</operation>
<operation name="eliminarArticulo">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws.enchulame.com/AutorWS/eliminarArticuloRequest" message="tns:eliminarArticulo"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws.enchulame.com/AutorWS/eliminarArticuloResponse" message="tns:eliminarArticuloResponse"/>
</operation>
<operation name="enviarCopyright">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws.enchulame.com/AutorWS/enviarCopyrightRequest" message="tns:enviarCopyright"/>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws.enchulame.com/AutorWS/enviarCopyrightResponse" message="tns:enviarCopyrightResponse"/>
</operation>
</portType>
</definitions>