Entregables/EnchulameCliente/src/META-INF/RevisorService.wsdl_1.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:tns="http://ws.enchulame.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.enchulame.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.enchulame.com/" schemaLocation="http://localhost:20844/enchulameServer/RevisorService?xsd=1"/>
</xsd:schema>
</types>
<message name="revisionesPendientes">
<part name="parameters" element="tns:revisionesPendientes"/>
</message>
<message name="revisionesPendientesResponse">
<part name="parameters" element="tns:revisionesPendientesResponse"/>
</message>
<message name="revisionesRealizadas">
<part name="parameters" element="tns:revisionesRealizadas"/>
</message>
<message name="revisionesRealizadasResponse">
<part name="parameters" element="tns:revisionesRealizadasResponse"/>
</message>
<message name="palabrasClaves">
<part name="parameters" element="tns:palabrasClaves"/>
</message>
<message name="palabrasClavesResponse">
<part name="parameters" element="tns:palabrasClavesResponse"/>
</message>
<message name="crearRevisor">
<part name="parameters" element="tns:crearRevisor"/>
</message>
<message name="crearRevisorResponse">
<part name="parameters" element="tns:crearRevisorResponse"/>
</message>
<message name="realizarRevision">
<part name="parameters" element="tns:realizarRevision"/>
</message>
<message name="realizarRevisionResponse">
<part name="parameters" element="tns:realizarRevisionResponse"/>
</message>
<portType name="RevisorWS">
<operation name="revisionesPendientes">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://ws.enchulame.com/RevisorWS/revisionesPendientesRequest" message="tns:revisionesPendientes"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://ws.enchulame.com/RevisorWS/revisionesPendientesResponse" message="tns:revisionesPendientesResponse"/>
</operation>
<operation name="revisionesRealizadas">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://ws.enchulame.com/RevisorWS/revisionesRealizadasRequest" message="tns:revisionesRealizadas"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ws.enchulame.com/RevisorWS/revisionesRealizadasResponse" message="tns:revisionesRealizadasResponse"/>
</operation>
<operation name="palabrasClaves">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws.enchulame.com/RevisorWS/palabrasClavesRequest" message="tns:palabrasClaves"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.enchulame.com/RevisorWS/palabrasClavesResponse" message="tns:palabrasClavesResponse"/>
</operation>
<operation name="crearRevisor">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.enchulame.com/RevisorWS/crearRevisorRequest" message="tns:crearRevisor"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.enchulame.com/RevisorWS/crearRevisorResponse" message="tns:crearRevisorResponse"/>
</operation>
<operation name="realizarRevision">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.enchulame.com/RevisorWS/realizarRevisionRequest" message="tns:realizarRevision"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.enchulame.com/RevisorWS/realizarRevisionResponse" message="tns:realizarRevisionResponse"/>
</operation>
</portType>
</definitions>