enchulame2/WebApplication1/AutorWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.enchulame.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.enchulame.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.enchulame.com/" schemaLocation="AutorWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="eliminarArticulo">
    <part name="parameters" element="tns:eliminarArticulo"/>
  </message>
  <message name="eliminarArticuloResponse">
    <part name="parameters" element="tns:eliminarArticuloResponse"/>
  </message>
  <message name="editarArticulo">
    <part name="parameters" element="tns:editarArticulo"/>
  </message>
  <message name="editarArticuloResponse">
    <part name="parameters" element="tns:editarArticuloResponse"/>
  </message>
  <message name="crearArticulo">
    <part name="parameters" element="tns:crearArticulo"/>
  </message>
  <message name="crearArticuloResponse">
    <part name="parameters" element="tns:crearArticuloResponse"/>
  </message>
  <message name="enviarCopyright">
    <part name="parameters" element="tns:enviarCopyright"/>
  </message>
  <message name="enviarCopyrightResponse">
    <part name="parameters" element="tns:enviarCopyrightResponse"/>
  </message>
  <portType name="AutorWS">
    <operation name="eliminarArticulo">
      <input ns1:Action="http://ws.enchulame.com/AutorWS/eliminarArticuloRequest" message="tns:eliminarArticulo" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://ws.enchulame.com/AutorWS/eliminarArticuloResponse" message="tns:eliminarArticuloResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="editarArticulo">
      <input ns3:Action="http://ws.enchulame.com/AutorWS/editarArticuloRequest" message="tns:editarArticulo" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://ws.enchulame.com/AutorWS/editarArticuloResponse" message="tns:editarArticuloResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearArticulo">
      <input ns5:Action="http://ws.enchulame.com/AutorWS/crearArticuloRequest" message="tns:crearArticulo" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://ws.enchulame.com/AutorWS/crearArticuloResponse" message="tns:crearArticuloResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="enviarCopyright">
      <input ns7:Action="http://ws.enchulame.com/AutorWS/enviarCopyrightRequest" message="tns:enviarCopyright" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://ws.enchulame.com/AutorWS/enviarCopyrightResponse" message="tns:enviarCopyrightResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

