Entregables/enchulameServer/RevisorWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.enchulame.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.enchulame.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.enchulame.com/" schemaLocation="RevisorWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="revisionesRealizadas">
    <part name="parameters" element="tns:revisionesRealizadas"/>
  </message>
  <message name="revisionesRealizadasResponse">
    <part name="parameters" element="tns:revisionesRealizadasResponse"/>
  </message>
  <message name="revisionesPendientes">
    <part name="parameters" element="tns:revisionesPendientes"/>
  </message>
  <message name="revisionesPendientesResponse">
    <part name="parameters" element="tns:revisionesPendientesResponse"/>
  </message>
  <message name="crearRevisor">
    <part name="parameters" element="tns:crearRevisor"/>
  </message>
  <message name="crearRevisorResponse">
    <part name="parameters" element="tns:crearRevisorResponse"/>
  </message>
  <message name="palabrasClaves">
    <part name="parameters" element="tns:palabrasClaves"/>
  </message>
  <message name="palabrasClavesResponse">
    <part name="parameters" element="tns:palabrasClavesResponse"/>
  </message>
  <message name="realizarRevision">
    <part name="parameters" element="tns:realizarRevision"/>
  </message>
  <message name="realizarRevisionResponse">
    <part name="parameters" element="tns:realizarRevisionResponse"/>
  </message>
  <portType name="RevisorWS">
    <operation name="revisionesRealizadas">
      <input ns1:Action="http://ws.enchulame.com/RevisorWS/revisionesRealizadasRequest" message="tns:revisionesRealizadas" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://ws.enchulame.com/RevisorWS/revisionesRealizadasResponse" message="tns:revisionesRealizadasResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="revisionesPendientes">
      <input ns3:Action="http://ws.enchulame.com/RevisorWS/revisionesPendientesRequest" message="tns:revisionesPendientes" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://ws.enchulame.com/RevisorWS/revisionesPendientesResponse" message="tns:revisionesPendientesResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearRevisor">
      <input ns5:Action="http://ws.enchulame.com/RevisorWS/crearRevisorRequest" message="tns:crearRevisor" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://ws.enchulame.com/RevisorWS/crearRevisorResponse" message="tns:crearRevisorResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="palabrasClaves">
      <input ns7:Action="http://ws.enchulame.com/RevisorWS/palabrasClavesRequest" message="tns:palabrasClaves" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://ws.enchulame.com/RevisorWS/palabrasClavesResponse" message="tns:palabrasClavesResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="realizarRevision">
      <input ns9:Action="http://ws.enchulame.com/RevisorWS/realizarRevisionRequest" message="tns:realizarRevision" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://ws.enchulame.com/RevisorWS/realizarRevisionResponse" message="tns:realizarRevisionResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

