Entregables/enchulameServer/UsuarioWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.enchulame.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.enchulame.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.enchulame.com/" schemaLocation="UsuarioWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="buscarArticulo">
    <part name="parameters" element="tns:buscarArticulo"/>
  </message>
  <message name="buscarArticuloResponse">
    <part name="parameters" element="tns:buscarArticuloResponse"/>
  </message>
  <message name="editarUsuario">
    <part name="parameters" element="tns:editarUsuario"/>
  </message>
  <message name="editarUsuarioResponse">
    <part name="parameters" element="tns:editarUsuarioResponse"/>
  </message>
  <message name="crearUsuario">
    <part name="parameters" element="tns:crearUsuario"/>
  </message>
  <message name="crearUsuarioResponse">
    <part name="parameters" element="tns:crearUsuarioResponse"/>
  </message>
  <message name="iniciarSesion">
    <part name="parameters" element="tns:iniciarSesion"/>
  </message>
  <message name="iniciarSesionResponse">
    <part name="parameters" element="tns:iniciarSesionResponse"/>
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario"/>
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse"/>
  </message>
  <portType name="UsuarioWS">
    <operation name="buscarArticulo">
      <input ns1:Action="http://ws.enchulame.com/UsuarioWS/buscarArticuloRequest" message="tns:buscarArticulo" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://ws.enchulame.com/UsuarioWS/buscarArticuloResponse" message="tns:buscarArticuloResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="editarUsuario">
      <input ns3:Action="http://ws.enchulame.com/UsuarioWS/editarUsuarioRequest" message="tns:editarUsuario" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://ws.enchulame.com/UsuarioWS/editarUsuarioResponse" message="tns:editarUsuarioResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="crearUsuario">
      <input ns5:Action="http://ws.enchulame.com/UsuarioWS/crearUsuarioRequest" message="tns:crearUsuario" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://ws.enchulame.com/UsuarioWS/crearUsuarioResponse" message="tns:crearUsuarioResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="iniciarSesion">
      <input ns7:Action="http://ws.enchulame.com/UsuarioWS/iniciarSesionRequest" message="tns:iniciarSesion" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://ws.enchulame.com/UsuarioWS/iniciarSesionResponse" message="tns:iniciarSesionResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="eliminarUsuario">
      <input ns9:Action="http://ws.enchulame.com/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://ws.enchulame.com/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

